.funko-page-card {
  height: auto;
  width: 1000px;
  margin: auto;
  padding: 10px;
  text-align: center;
  color: white;
}

.funko-page-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s ease;
  background-color: white;
}

.funko-image-div {
  position: relative;
  text-align: center;
  width: 40%;
  height: 377px;
  overflow: hidden;
  border-radius: 10px;
  background-color: white;
  float: left;
  box-shadow: 5px 10px 18px #888888;
}

.funko-image-div .gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.71) 100%
  );
  transition: 0.5s ease;
}

.info {
  color: #d33531;
  font-family: "Signika", sans-serif;
}

.topic {
  color: #333;
  font-family: "Signika", sans-serif;
}

.funko-page-card button {
  display: inline-block;
  margin-top: 20px;
  width: 250px;
  border-radius: 5px;
  font-family: "Signika", sans-serif;
  color: white;
  text-decoration: none;
  cursor: pointer;
  background-color: #333;
  box-shadow: 5px 10px 18px #888888;
}

.value {
  margin-top: 60px;
  width: 10px;
  float: right;
  color: black;
}

.label {
  position: relative;
  width: 400px;
  transform: translateY(60px) translateX(-160px) rotate(45deg);
  background-color: transparent;
  z-index: 0;
}

.trending-value {
  z-index: 1;
  position: relative;
  background-color: transparent;
  width: 150px;
  color: white;
  font-family: "Signika", sans-serif;
  transform: translateY(-150px) translateX(-20px) rotate(52deg);
}

.price {
  z-index: 1;
  position: relative;
  background-color: transparent;
  width: 150px;
  color: #333;
  font-family: "Signika", sans-serif;
  font-size: 70px;
  transform: translateY(-170px) translateX(-30px) rotate(52deg);
}
