.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  display: inline-block;
  background-color: #333;
}

.logo {
  width: 185px;
  background-color: #333;
}

ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

@media screen and (max-width: 600px) {
  ul.topnav li {
    float: none;
    background-color: #333;
  }
}

li {
  float: left;
  background-color: #333;
}

li a,
.dropbtn {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 20px;
  display: block;
  color: white;
  text-align: center;
  padding: 25px 16px;
  text-decoration: none;
  cursor: pointer;
  background-color: #333;
}

li a:hover,
.categories:hover .dropbtn {
  background-color: #d33531;
}

li.categories {
  display: block;
}

.categories-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.categories-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.categories-content a:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.categories:hover .categories-content {
  display: block;
}

.navbar div {
  background-color: #333;
}

.navbar p {
  background-color: #333;
}
