.navbar {
  width: 100%;
  display: inline-block;
  background-color: #333;
}

.logo {
  width: 185px;
  background-color: #333;
  float: left;
}

ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

@media screen and (max-width: 600px) {
  ul.topnav li {
    float: none;
    background-color: #333;
  }
}

li {
  background-color: #333;
}

li a,
.dropbtn {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 20px;
  display: block;
  color: white;
  text-align: center;
  padding: 25px 16px;
  text-decoration: none;
  cursor: pointer;
  background-color: #333;
}

li a:hover,
.categories:hover .dropbtn {
  background-color: #d33531;
}

li.categories {
  display: block;
  float: left;
}

.categories-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.categories-content a {
  color: #f9f9f9;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.categories-content a:hover {
  background-color: #d33531;
  cursor: pointer;
}

.home {
  float: left;
}

.categories:hover .categories-content {
  display: block;
}

.navbar div {
  background-color: #333;
}

.navbar p {
  background-color: #333;
}

.login {
  float: right;
  display: inline-block;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 20px;
  color: white;
  text-align: center;
  padding: 25px 16px;
  text-decoration: none;
}

button {
  border-radius: 12px;
  padding: 6px 10px;
  margin-top: 10px;
  margin-right: 5px;
  display: inline-block;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 20px;
  border: none;
  cursor: pointer;
  outline: none;
}

button:hover,
.navbar {
  background-color: #d33531;
}

.welcome {
  color: #d33531;
  padding: 0px;
  margin-right: 5px;
  display: inline;
}

.name {
  color: white;
  padding: 0px;
  margin-right: 5px;
  display: inline;
}

.exclamation {
  color: #d33531;
  padding: 0px;
  margin-right: 5px;
  display: inline;
}

.nav-item {
  float: right;
  margin-right: 15px;
}

.my-page {
  float: right;
  color: white;
  text-align: center;
  text-decoration: none;
}

.my-page:hover {
  background-color: #d33531;
  cursor: pointer;
}

.login-form {
  background-color: #333;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 20px;
  text-align: center;
  padding-top: 25px;
  float: right;
  display: inline-block;
}

.login-form input {
  background-color: white;
  border-radius: 12px;
  margin-right: 2px;
  margin-bottom: 20px;
  height: 20px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.login-form input:focus {
  outline: 0;
}

.login-form label {
  background-color: #333;
  color: white;
  margin-right: 2px;
  margin-left: 10px;
}

.login-btn {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 20px;
  display: block;
  color: white;
  text-align: center;
  padding: 25px;
  text-decoration: none;
  cursor: pointer;
  float: right;
  background-color: #333;
}

.login-btn:hover {
  background-color: #d33531;
}
.signup-btn {
  font-family: "Comic Sans MS", cursive, sans-serif;
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  float: right;
  background-color: #333;
}

.signup-btn:hover {
  background-color: #d33531;
}
