.search-bar {
  width: 100%;
  display: inline-flex;
  margin-bottom: 0;
  padding-bottom: 0;
}

.search-bar input {
  background-color: white;
  width: 30%;
  height: 30px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-left: 30%;

  display: block;
  margin-top: 10px;
  color: black;
  font-family: "Signika", sans-serif;
  font-size: 20px;
  padding-left: 10px;
  box-shadow: 5px 10px 18px #888888;
}

.search-bar input:focus {
  outline: 0;
}

.search-bar button {
  height: 37px;
  border-radius: 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #d33531;
  background-image: url("https://image.flaticon.com/icons/png/512/14/14968.png");
}

.search-bar img {
  height: 25px;
  background-color: #d33531;
}

.search-result {
  width: 100%;
  font-family: "Signika", sans-serif;
  color: #333;
}
