.signup-form {
  height: auto;
  width: 1000px;
  margin: auto;
  padding: 10px;
  text-align: center;
  color: white;
}

.signup-form label {
  color: #ed5941;
  font-size: 30px;

  font-family: "Comic Sans MS", cursive, sans-serif;
}

.signup-form input {
  width: 50%;
  font-size: 2em;
  border-radius: 5px;
  border-width: 0px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  background-color: white;
}

.signup-form input:focus {
  outline: 0;
}

.signup-form select {
  width: 90%;
  font-size: 2em;
}
.signup-form label {
  display: block;
}

.signup-form button {
  margin-top: 20px;
  width: 30%;
  border-radius: 5px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: white;
  text-decoration: none;
  cursor: pointer;
  background-color: #333;
  z-index: 1;
}

.blank-funko {
  z-index: 1;
  width: 30%;
  float: left;
  margin-top: 90px;
  background-color: transparent;
  animation: blank-funko-spin infinite 5s alternate;
}

@keyframes blank-funko-spin {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1.5);
  }
}
