a {
  text-decoration: none;
}

.mypage {
  display: inline-flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 10px;
  margin-left: 10px;
}

.user_pic {
  width: 200px;
  float: left;
  border-radius: 50%;
  margin-top: 8%;
  margin-left: 10%;
  z-index: 1;
  box-shadow: 5px 10px 18px #888888;
}

.user-div {
  display: inline-flex;
  padding: 10px;
  width: 50%;
  height: 250px;
}

.my-offers {
  width: 40%;
}

.trade-offers-div {
  display: inline-flex;
  flex-wrap: wrap;
  overflow: scroll;
  height: 250px;
  width: 600px;
  border-style: solid;
  border-color: #d33531;
  border-radius: 20px;
  box-shadow: 10px 15px 15px #888888;
}

.trade-offers-div h4 {
  margin: 0px;
  margin-left: 5px;
  width: 100%;
  height: 30px;
  padding-bottom: 0px;
  padding-top: 0px;
  color: #333;
}

.trade-offers-div h4:hover {
  color: #d33531;
}

.user-infos {
  margin-top: 14%;
  margin-left: 10%;
  color: #333;
  font-family: "Signika", sans-serif;
  font-size: 18px;
}

.user-infos p {
  margin: 0;
}

.user-infos h3 {
  margin: 0;
  color: #d33531;
}

.user-infos a {
  margin: 0;
  color: #333;
}

.collection-div {
  display: inline-flex;
  flex-wrap: wrap;
  overflow: scroll;
  height: 350px;
  width: 600px;
  border-style: solid;
  border-color: #d33531;
  border-radius: 20px;
  text-align: center;
  box-shadow: 10px 15px 15px #888888;
}

.wishlist-div {
  display: inline-flex;
  flex-wrap: wrap;
  overflow: scroll;
  height: 350px;
  width: 600px;
  border-style: solid;
  border-color: #d33531;
  border-radius: 20px;
  text-align: center;
  box-shadow: 10px 15px 15px #888888;
}

.title {
  padding-left: 25px;
  margin-bottom: 0;
  width: 100%;
  color: #333;
  font-family: "Signika", sans-serif;
}

.funko-card-mypage {
  position: relative;
  text-align: center;
  width: 300px;
  height: 350px;
  overflow: hidden;
  background-color: white;
}

.funko-card-mypage:hover {
  cursor: pointer;
}

.funko-card-mypage .funko-details {
  position: absolute;
  width: 100%;
  height: 50%;
  top: 100%;
  left: 0%;
  background-color: #333;
  transition: 0.5s ease;
}

.funko-card-mypage:hover .funko-details {
  top: 70%;
}

.funko-card-mypage:hover .card-front {
  top: -30%;
}

.funko-card-mypage:hover .gradient {
  top: -25%;
}

.funko-card-mypage:hover .funko-img {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.funko-card-mypage .gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.71) 100%
  );
  transition: 0.5s ease;
}

.my-wishlist {
  width: 50%;
  text-align: center;
}

.my-collection {
  width: 50%;
  text-align: center;
}
