@import "./css/NavBar.css";
@import "./css/FunkoCard.css";
@import "./css/SignUpForm.css";
@import "./css/FunkoPage.css";
@import "./css/UserPage.css";
@import "./css/FunkoPageWishlist.css";
@import "./css/SearchBar.css";
@import "./css/MakeAnOfferView.css";

* {
  background-color: white;
  font-family: "Signika", sans-serif;
}

body {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}
